/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

/* font family */



/* common css start  */
body{
font-family: ;
font-size: ;
font-weight: ;



}
/* common css end  */

.navbar-expand-lg{
    
}
.nav-item{
    padding-left: 37px;
    margin-top: 25px;
}
.nav-item button{
    border-radius: 5px;
    padding: ;
    margin: 0px 0px 15px 0px;
}



/* banner section css start */
h1{
baner    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font color: 181E4B;
    }

.col-lg-5{
    padding-top: 120px;
}

.category{
    text-align: center;
}
.col-lg-3 {
padding-top: 70px;
}


.gallerytext{
    text-align: center;
    padding-top: 70px;
}

.gallery {
    padding-top: 70px;
}
.slider{
    padding-top: 150px;
}
.logos{
    padding-left: 60px;
}
/* banner section css end */